body {
	background-color: var(--content-background);
	color: var(--content-foreground);
}
a, a:visited, a:hover, a:active {
	color: var(--content-links) !important;
	transition: color 0.4s;
}
a.domain {
	border-bottom: none !important;
	text-decoration: underline !important;
}
