#close-button,
.style-button,
#font-size-minus,
#font-size-plus,
.dropdown-arrow {
	background-image: none;
}
#close-button:hover {
	background-color: #d94141;
}
#close-button:hover path {
	fill: #ffffff;
}
.dropdown.open {
	background-color: unset;
}
#font-choice {
	border-bottom: 1px solid var(--controls-foreground);
	padding: 0.5em;
}
#font-choice-select {
	width: 284px;
	height: 30px;
	border: medium none;
	background-color: transparent;
	color: var(--controls-foreground);
	font-size: 20px;
	line-height: 30px;
}
#container-width-buttons > button {
	width: 50%;
	height: 60px;
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid var(--controls-foreground);
	border-left: 1px solid var(--controls-foreground);
}
.narrower-button, .wider-button {
	background-color: transparent;
	border: 0px none;
}
.narrower-button {
	border-left: none !important;
}
#colour-choice-buttons {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0.5em;
}
#reader-toolbar,
#reader-toolbar button,
.dropdown-popup {
	background-color: var(--controls-background);
	border-color: var(--controls-foreground);
	color: var(--controls-foreground);
}
#reader-toolbar select:hover,
#reader-toolbar button:not(#close-button):hover {
	background-color: var(--controls-button-hover);
}
.dropdown-popup {
	border-bottom-width: 1px;
}
svg {
	vertical-align: middle;
}
svg path,
svg path.foreground {
	fill: var(--controls-foreground);
}
svg path.background {
	fill: var(--controls-background);
}
