#close-button,
.dropdown-arrow {
	background-image: none !important;
}
#close-button:hover {
	background-color: #d94141;
}
#close-button:hover path {
	fill: #ffffff;
}
#donate-button {
	position: absolute;
	bottom: 0;
	border-top: 1px solid var(--controls-foreground);
	border-bottom: none;
}
.dropdown.open {
	background-color: unset;
}
#font-choice {
	border-bottom: 1px solid var(--controls-foreground);
	transition: border-color 0.4s;
	padding: 0.5em;
}
#font-choice-select {
	width: 284px;
	height: 30px;
	border: medium none;
	background-color: transparent;
	color: var(--controls-foreground);
	transition: color 0.4s;
	font-size: 20px;
	line-height: 30px;
}
.two-buttons > button {
	width: 50%;
	height: 60px;
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid var(--controls-foreground);
	border-left: 1px solid var(--controls-foreground);
	transition: border-color 0.4s;
}
.left-button, .right-button {
	background-color: transparent;
	border: 0px none;
}
.left-button {
	border-left: none !important;
}
#colour-choice-buttons {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0.5em 2.5em;
}
.colourpicker {
	display: flex;
}
.colourpicker > label {
	flex: 1 1 0%;
	line-height: 27px;
}
.colourpicker > input[type="color"] {
	width: 31px;
	height: 31px;
	margin: -2px;
	border: 0px none;
	padding: 2px 0px;
	vertical-align: middle;
	background-color: transparent;
}
.preset {
	text-align: center;
}
.swatch {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 1px;
	border: 1px rgba(0, 0, 0, 0.5) solid;
	vertical-align: middle;
}
#colour-choice-buttons button {
	margin: 0px;
	border: 0px none;
	padding: 2px 0px;
	vertical-align: middle;
}
#reader-toolbar,
#reader-toolbar button,
.dropdown-popup {
	background-color: var(--controls-background);
	border-color: var(--controls-foreground);
	color: var(--controls-foreground);
	transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
#reader-toolbar select:hover,
#reader-toolbar button:not(#close-button):not(:disabled):hover {
	background-color: var(--controls-highlight) !important;
}
.dropdown-popup {
	border-bottom-width: 1px;
	box-shadow: 0 1px 12px var(--controls-highlight);
}
.dropdown-popup * {
	border-color: var(--controls-foreground) !important;
}
svg {
	vertical-align: middle;
}
svg path,
svg path.foreground {
	fill: var(--controls-foreground);
	transition: fill 0.4s;
}
svg path.background {
	fill: var(--controls-background);
	transition: fill 0.4s;
}
:disabled svg path {
	fill-opacity: 0.5;
}

#narrate-start-stop.speaking path:first-child,
#narrate-start-stop:not(.speaking) path:last-child {
	display: none;
}
#narrate-rate::before,
#narrate-rate::after {
	display: none;
}
#narrate-rate > div {
	width: 48px;
	text-align: center;
}
#narrate-rate-input::-moz-range-progress,
#narrate-rate-input::-moz-range-thumb {
    background-color: var(--controls-foreground) !important;
}
#narrate-rate-input::-moz-range-track {
    background-color: var(--controls-highlight) !important;
}
#voice-select .current-voice {
	color: var(--controls-foreground) !important;
}
.voiceselect > button.select-toggle::after {
	display: none !important;
}
.voiceselect > button.select-toggle > div {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}
