#close-button,
.style-button,
#font-size-minus,
#font-size-plus,
.dropdown-arrow {
	background-image: none;
}
#close-button:hover {
	background-color: #d94141;
}
#close-button:hover path {
	fill: #ffffff;
}
#font-choice {
	border-bottom: 1px solid var(--borders);
	padding: 0.5em;
}
#font-choice-select {
	width: 284px;
	height: 30px;
	border: medium none;
	background-color: transparent;
	color: var(--foreground);
	font-size: 20px;
	line-height: 30px;
}
#container-width-buttons > button {
	width: 50%;
	height: 60px;
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid var(--borders);
	border-left: 1px solid var(--borders);
}
.narrower-button, .wider-button {
	background-color: transparent;
	border: 0px none;
}
.narrower-button {
	border-left: none !important;
}
#reader-toolbar,
#reader-toolbar button,
.dropdown-popup {
	background-color: var(--background);
	border-color: var(--borders);
}
#reader-toolbar select:hover,
#reader-toolbar button:not(#close-button):hover {
	background-color: var(--button-hover);
}
svg {
	vertical-align: middle;
}
svg path {
	fill: var(--foreground);
}
svg path.border {
	fill: var(--borders);
}
svg path.fill {
	fill: var(--background);
}
