#reader-toolbar {
	--foreground: #0c0;
	--borders: #090;
	--background: #333;
}
#close-button,
.style-button,
#font-size-minus,
#font-size-plus,
.dropdown-arrow {
	background-image: none;
}
#font-choice {
	border-bottom: 1px solid var(--borders);
	text-align: center;
	padding: 0.5em 0;
}
#container-width-buttons > button {
	width: 50%;
	height: 60px;
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid var(--borders);
	border-left: 1px solid var(--borders);
}
.narrower-button, .wider-button {
	background-color: transparent;
	border: 0px none;
}
.narrower-button {
	border-left: none !important;
}
#reader-toolbar,
#reader-toolbar button,
.dropdown-popup {
	background-color: var(--background);
	border-color: var(--borders);
}
svg {
	vertical-align: middle;
}
svg path {
	fill: var(--foreground);
}
svg path.border {
	fill: var(--borders);
}
svg path.fill {
	fill: var(--background);
}
